<!-- Barra de ferramentas -->
<mat-toolbar color="primary">
  <button class="menu" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>ToDo List</span>
</mat-toolbar>

<div class="content">
  <mat-sidenav-container class="container main-container">
    <mat-sidenav #sidenav [opened]="true" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/pages/tarefa/listar">
          <div class="item">
            <mat-icon class="icon"> list </mat-icon>
            <span> Lista de Tarefas</span>
          </div>
        </a>
        <a mat-list-item routerLink="/pages/animal/cadastrar">
          <div class="item">
            <mat-icon class="icon"> add </mat-icon>
            <span> Cadastrar Tarefa </span>
          </div>
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content mat-padding">
      <!-- Conteúdo -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
